<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
</head>

<body>

<div id="app">
    <h1>item price: {{value}}</h1>
    <el-select v-model="value" placeholder="请选择">
      <el-option
        v-for="(item, i) in arr"
        :key="i"
        :label="item.title"
        :value="item.price">
      </el-option>
    </el-select>
</div>


</body>

<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import Element JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function() {
            return {
                arr: [
                    {title: 'television', price: 3000},
                    {title: 'washer', price: 2000},
                    {title: 'radio', price: 1000}
                ],
                value: ''
            }
        },
        methods: {
            
        },
  })
</script>

</html>
