<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
    .el-header {
        background-color: #1fa2ea;
    }
    .el-main {
        background-color: white;
    }
    .el-footer {
        background-color: #3f3f3f;
    }
    .el-aside {
        background-color: yellow;
    }
    .text-center {
        text-align: center;
    }
    </style>
</head>

<body>

<div id="app">
    <el-container>
        <el-header>
            <el-menu mode="horizontal" background-color="#1fa2ea">
                <el-menu-item index="1">精彩活动</el-menu-item>
                <el-menu-item index="2">精品女装</el-menu-item>
                <el-menu-item index="3">品牌男装</el-menu-item>
                <el-menu-item index="4">母婴产品</el-menu-item>
                <el-menu-item index="5">数码科技</el-menu-item>
            </el-menu>        
        </el-header>
        <el-main>
            <el-carousel>
                <el-carousel-item v-for="item in 4">
                    <img :src="'imgs/b' + item + '.jpg'" width="100%"/>
                </el-carousel-item>
            </el-carousel>
            <el-row style="text-align: center;" gutter="20">
                <el-col span="6" v-for="(item, i) in productArr">
                    <el-card>
                        <img :src="item.url" width="100%"/>
                        <p>{{item.title}}</p>
                        <p>{{item.price}} <s>{{item.oldPrice}}</s></p>
                        <p style="float: right">销量：{{item.saleCount}}件</p>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
        <el-footer>
            <div style="color: #a29a8e; font-size: 14px; padding: 50px 0;">
                <p class="text-center">Copyright@北京达内金桥科技有限公司版权所有 京ICP备12003709号-3京公网安备11010802029572号</p>
                <p class="text-center">涵盖20余门课程体系，致力于打造权威的IT职业教育学习平台</p>
                <p class="text-center">达内在线WWW.TMOOC.CN专注于IT职业技能培训</p>
</div       >
        </el-footer>
    </el-container>
</div>


</body>

<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import Element JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function() {
            return {
                productArr:[{title:"森马牛仔裤女宽松慢跑裤运动风2022春季新款",price:233,oldPrice:598,url:"imgs/a.jpg",saleCount:2342},
                    {title:"茵曼马甲连衣裙两件套春季新款娃娃领色织格长袖背心裙套装",price:233,oldPrice:598,url:"imgs/b.jpg",saleCount:2342},
                    {title:"雪中飞墨绿色短袖t恤女夏2022新款纯棉半袖打底体恤夏季",price:233,oldPrice:598,url:"imgs/c.jpg",saleCount:2342},
                    {title:"【佟丽娅同款】鸭鸭明星同款羽绒服2021年冬季新款时尚",price:233,oldPrice:598,url:"imgs/d.jpg",saleCount:2342},
                    {title:"BEASTER小恶魔鬼脸明星同款夹克毛绒保暖加厚字母印花",price:233,oldPrice:598,url:"imgs/e.jpg",saleCount:2342},
                    {title:"香影毛呢外套女中长款2021年冬季新款气质韩版娃娃领",price:233,oldPrice:598,url:"imgs/f.jpg",saleCount:2342},
                    {title:"SEMIR森马商场同款打底针织毛衣纯色高领新品显瘦",price:233,oldPrice:598,url:"imgs/g.jpg",saleCount:2342},
                    {title:"美特斯邦威女MTEE 贺岁系列中长款风衣736598",price:233,oldPrice:598,url:"imgs/h.jpg",saleCount:2342},
                    {title:"imone2021秋款黑色小西装外套女韩版学生宽松学",price:233,oldPrice:598,url:"imgs/i.jpg",saleCount:2342},
                    {title:"BEASTER 小恶魔明星同款保暖长袖街头潮流连帽卫",price:233,oldPrice:598,url:"imgs/j.jpg",saleCount:2342},
                    {title:"憨厚皇后100%绵羊皮2021秋海宁真皮皮衣女长款修",price:233,oldPrice:598,url:"imgs/k.jpg",saleCount:2342},
                    {title:"美特斯邦威高腰牛仔裤女宽松小脚新款春秋彩色",price:233,oldPrice:598,url:"imgs/a.jpg",saleCount:2342}]
            }
        },
        methods: {
            
        },
  })
</script>

</html>
